.root {
    -fx-background-color: radial-gradient(radius 100%, derive(antiquewhite, 10%), derive(ghostwhite, 10%), derive(white, 10%));
}

#specialLabels {
    -fx-font-size: 20pt;

}

.label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-simple{
    -fx-font-family:"Seagoe UI";
}

@font-face {
    font-family: 'MKX Title';
    src: url('/Presentation/MKX Title.ttf');
}

#welcome {
    -fx-font-size: 41pt;
    -fx-font-family: "MKX Title";
    -fx-text-fill: #1d1d1d;
}

#quote {
    -fx-font-size: 25pt;
    -fx-font-family: "Harlow Solid Italic";
    -fx-text-fill: #1d1d1d;
}

.combo-box{

    -fx-font-size: 11pt;
    -fx-min-height: 35;
    -fx-border-color: #008287;


    -fx-font-family: "Segoe UI"

}

.radio-button{
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI";
    -fx-border-width: 5%

}

.table-view {
    -fx-base:  whitesmoke;
    -fx-control-inner-background:whitesmoke;
    -fx-background-color: whitesmoke;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: papayawhip;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;    -fx-border-insets: 0 10 1 0;
}

#myTableView.table-column {
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
}
.table-view .column-header .label {
    -fx-font-size: 9pt;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
    -fx-alignment: center-left;
    -fx-opacity: 1;

}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #219297;
}


.text-field {
    -fx-font-size: 13pt;
    -fx-border-color: #008287;
    -fx-font-family: "Segoe UI"
}


.button {
    -fx-padding: 5 22 5 22;
    -fx-max-width: 170;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #cccccc;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 13pt;
    -fx-text-fill: black;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

#individualLabel{
    -fx-font-size: 27pt;
    -fx-font-color: blue;
    -fx-text-fill: blue;
}
#exit-button{
    -fx-min-width: 130;
    -fx-min-height: 55;
}

.menu-button{
    -fx-min-width: 195;
    -fx-min-height: 55;
}

.button:hover {
    -fx-background-color: #d8d8d8;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color:  #008287;
    -fx-border-color:black;
    -fx-text-fill: white;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}

.button:default {

    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive( #008287,30%);
}